
<div>
    <div>
        <p>{{title}}</p>
    </div>
        <div>
        {{post_data}}
    </div>
    <div >
        <b>{{user.username}}</b> / {{format_date created_at}} / <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
    
</div>




   
